body {
  font-family: 'Open Sans Condensed', sans-serif;
}

main {
	text-align: center;
}

a {
  text-decoration: none;
}

.hero {
  height: 100vh;
  /*background: url("background.png");*/
  background-size: 100% 100%;
}

.fixedBottom {
  position: absolute; 
  bottom: 0;  
  z-index: 1;
}

.fixedTop {
  position: fixed; 
  top: 0; 
  height: 70px;
  z-index: 1;
}

section {
  padding-top: 20px;
}

nav {
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #279aae;
}

nav img {
  float: left;
  height: 70px;
  width: 70px;
}

.navOpt {
  color: white;
  font-size: 25px;
}

nav li:hover {
  text-decoration: underline;
}

ul {
  
  padding-right: 25px;
  padding-left: 0px;
  margin-top: 0px;
}

li {
  margin-left: 20px;
  display: inline-block;
}

.iconButton {
  height: 200px;
  width: 100%;
}

.nameTitle {
  padding-top: 8px;
  font-size: 17px;
  color: white;
}

#originals {
  background: blue;
}

#canPrints {
  background: gray;
}

#posPrints {
  background: yellow; 
}

.secTitle {
  font-size: 30px;
  color: #1f7888;
  margin-top: 20px;
  padding-bottom: 20px;
}

.shopOpt {
  padding-bottom: 20px;
}

.about {
  color: white;
  background: #2db0c8;
}

.contact {
  color: ;
  background: ;
}