body {
  font-family: 'Open Sans Condensed', sans-serif;
}

main {
	text-align: center;
}

a {
  text-decoration: none;
}

.hero {
  height: 100vh;
  /*background: url("background.png");*/
  background-size: 100% 100%;
}

.fixedBottom {
  position: absolute; 
  bottom: 0;  
  z-index: 1;
}

.fixedTop {
  position: fixed; 
  top: 0; 
  height: 70px;
  z-index: 1;
}

section {
  padding-top: 20px;
}

nav {
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #279aae;
}

nav img {
  float: left;
  height: 70px;
  width: 70px;
}

.navOpt {
  color: white;
  font-size: 25px;
}

nav li:hover {
  background: #30BBD5;
}

ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  padding: 18px;
  display: inline-block;
}

.iconButton {
  background-color: Transparent;
  height: 200px;
  width: 100%;
  border: none;
}

.buttonText {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
}

.nameTitle {
  font-size: 0px;
  color: white;
}

.secTitle {
  font-size: 30px;
  color: #1f7888;
  margin-top: 20px;
  padding-bottom: 20px;
}

.shop {
  padding-bottom: 40px;
}

.shopOpt1,
.shopOpt2,
.shopOpt3 {
  padding-bottom: 20px;
}

.shopOpt1 {
  background-image: url("originals.png"); 
  background-repeat: no-repeat;
  background-size: 90%;
}

.shopOpt1:hover {
  background-image: url("originals2.png");
  background-repeat: no-repeat;
  background-size: 125%;
}

.shopOpt2 {
  background-image: url("canvasPrints.png"); 
  background-repeat: no-repeat;
  background-size: 90%;
}

.shopOpt2:hover {
  background-image: url("canvasPrints2.png");
  background-repeat: no-repeat;
  background-size: 125%;
}

.shopOpt3 {
  background-image: url("posterPrints.png"); 
  background-repeat: no-repeat;
  background-size: 90%;
}

.shopOpt3:hover {
  background-image: url("posterPrints2.png");
  background-repeat: no-repeat;
  background-size: 125%;
}

.about {
  color: white;
  background: #2db0c8;
  padding: 30px;
}

.contact {
  color: ;
  background: ;
}

#profPic {
  height:100%;
  width: 100%
}

p {
    font-size: 25px;
}