body {
  font-family: 'Open Sans Condensed', sans-serif;
}

main {
	text-align: center;
}

a {
  text-decoration: none;
}

.hero {
  height: 100vh;
  /*background: url("background.png");*/
  background-size: 100% 100%;
}

.slideShow {
  width:100%;
  /*height: 100vh;*/
}

.imgContainer {
    height: 105vh;
    margin: 0 auto;
    overflow: hidden;
}

.imgContainer img {
  height: 100%;
}

.fixedBottom {
  position: absolute; 
  bottom: 0;  
  z-index: 1;
}

.fixedTop {
  position: fixed; 
  top: 0; 
  height: 70px;
  z-index: 1;
  background-color: #263c53;
  background-size: contain;
}

.hero {
  padding-top: 0%;
  background: url("doodle.png");
  background-size: cover;
}

section {
  padding-top: 20px;
}

nav {
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url("doodle-bkgd.png");
  background-color: black;
  background-size: contain;
}

nav img {
  float: left;
  height: 70px;
  width: 70px;
}

.navOpt {
  color: white;
  font-size: 25px;
}

nav li:hover {
  background: #9ed3ec;
}

ul {
  position: inherit;
  list-style-type: none;
  padding-left: 0px;
  background: black;
  overflow: hidden;
  margin: 0;
}

li {
  padding: 5%;
}


.iconButton {
  opacity: 0.7;
  background-color: #2e8cce;
  height: 200px;
  width: 200px;
  border: 1px solid #2e8cce;
  border-radius: 50%;
  background-image: url(canvasPrints.png);
  /* background-repeat: no-repeat; */
  background-size: 50%;
}

.buttonText {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
}

.nameTitle {
  font-size: 0px;
  color: white;
}

.secTitle {
  font-size: 30px;
  color: #263c53;
  margin-top: 20px;
  padding-bottom: 20px;
}

.shop {
  
}

.shopOpt1,
.shopOpt2,
.shopOpt3 {
  padding-bottom: 20px;
}

#originals {
  border: 1px solid #2e8cce;
  background: #2e8cce; 
}

#originals:hover {
  opacity: 1;
}

#canPrints {
  border: 1px solid #9238a4;
  background: #9238a4; 

}

#canPrints:hover {
  opacity: 1;
}

#posPrints {
  border: 1px solid #1eac49;
  background: #1eac49; 

}

#posPrints:hover {
  opacity: 1;
}

.about {
  color: white;
  background: #36afe8;
  padding: 30px;
}

.contact {
  color: ;
  background: ;
}

#profPic {
  border-radius: 50%;
  height:100%;
  width: 100%
}

p {
    font-size: 25px;
}

.collapseMenu {
  float: right;
  color: white;
  font-size: 35px;
  padding: 10px;
  padding-right: 30px;
}


/*dont display checklist thing*/
input#menu {
  display: none;
}

/***Menu Toggle Code***/

/*dont display nav content*/
.navContent {
  display: none;
  overflow: hidden;
}

/*dont display 'x'*/
#closeIcon {
  display: none;
}

/*when checked, hide menu icon*/
#menu:checked + label #menuIcon {
  display: none;
}

/*when checked, show 'x'*/
#menu:checked + label #closeIcon {
  display: block;
}

/*when checked, show menu*/
#menu:checked ~ .navContent{
  display: block;
  width: 100%;
  max-height: 100%;
}



